<navigation></navigation>
<div class="container" data-ng-init="vm.init()">
    <page-header content="vm.pageHeader"></page-header>
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <label for="filter">Filter results</label>
            <input id="filter" type="text" , name="filter" , ng-model="textFilter">
            <div class="error">{{ vm.message }}</div>
            <div class="row list-group">
                <div class="col-xs-12 list-group-item" ng-repeat="employee in vm.employees | filter : textFilter">
                    <h4>
                        <a href="/#/employee/{{ employee.id }}"><strong>{{ employee.employee_code }}</strong> {{ employee.surname + ', ' + employee.first_names }}</a>
                        <span class="badge pull-right badge-default">{{ employee.company_code }}</span>
                    </h4>
                    <p class="address">{{ employee.start_date }}</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4">
            <p class="lead">{{ vm.sidebar.content }}</p>
        </div>
    </div>
    <footer-generic></footer-generic>
</div>