

.review {padding-bottom: 5px;}
.panel-body.review-container {padding-top: 0;}
.review-header {margin-bottom: 10px;}
.reviewAuthor {margin: 0 5px;}
.reviewTimestamp {color: #ccc;}
#banner.page-header {padding-top: 14px;}

#filter {margin-left: 8px;}
.rating-stars {margin-left: 8px;}
