<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header"><a href="/" class="navbar-brand">joMEAN</a>
            <button type="button"
                    data-toggle="collapse"
                    data-target="#navbar-main"
                    class="navbar-toggle">
                <span class="icon-bar"></span>
                <span class="iconbar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div id="navbar-main" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/#about">About</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="navvm.isLoggedIn">
                    <a href="#" ng-click="navvm.popupLoginForm()">Sign in</a>
                </li>
                <li ng-show="navvm.isLoggedIn" class="dropdown" uib-dropdown is-open="navvm.isopen">
                    <a href="" uib-dropdown-toggle>
                        {{ navvm.currentUser.name }}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                        <li role="menuitem">
                            <a href="" ng-click="navvm.logout()">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </div>
    </div>
</div>